

.container {
	padding-top: 100px;
	padding-bottom: 400px;
}

#intro {
	padding-bottom: 100px;
	padding-top: 150px;
}

 p {
     white-space: pre-line; /* collapse WS, preserve LB */
   }
.navbar {
	background-color: white;
	padding-bottom: 100px;
	margin-bottom: 100px;
}
#itunes {
	width: 60%;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 10px;
  size:100px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}